.Welcome-photo {
    background-image: url("images/index-background.jpg");
    width: 1200px;
    height: 485px;
}

.visual-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


table {
    border-collapse: collapse;
    border: 1px solid lightgray;

}

td {
    padding: 5px;
    border: 1px solid lightgray;
    color: brown;
    background-color: lightyellow;
    text-align: center;
}

th {
    padding: 10px;
    border: 1px solid darkslategray;
    border-bottom: 3px solid black;
    color: blue;
    background-color: lightcyan;
}

caption {
    caption-side: bottom;
    text-align: left;
}

.sankt td:nth-child(2) {
    background: darkslategray;
}