body {
    margin: 0 auto;
    padding: 0;

    min-height: 100vh;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.page {
    /*min-height: 100vh;*/

    margin: 0 auto;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    text-align: center;

    background-color: #f2f2f2;
    background-position: top center;
    background-repeat: no-repeat;

    display: flex;
    width: 1200px;
    flex-direction: column;
    box-shadow: 0 0 20px 2px grey;

    justify-content: space-between;
}


*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

.main-hotels {
    text-align: left;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #766357;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #604e43;
}

.button:active {
    background-color: #503e33;
}






/*Стилизация навигации*/

.main-navigation {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    width: 1200px;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.site-navigation-left {
    list-style: none;

    width: 312px;
    text-align: left;
    align-self: center;
    padding-left: 73px;
}

.site-navigation-center {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 576px;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.site-navigation-center li {
    align-self: center;
}


.site-navigation-right {
    list-style: none;
    width: 312px;

    text-align: right;
    align-self: center;
    padding-right: 73px;
}


.site-navigation-left a,
.site-navigation-center a,
.site-navigation-right a {
    color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #b2b2b2;
}

.welcome-photo {
    background-image: url("images/header/Layer14.png"), url("images/index-background.jpg");
    background-size: contain, 1200px;
    background-position: bottom, center;
    background-repeat: no-repeat;
    height: 485px;
}

.welcome-photo img {
    padding-top: 76px;
}

.promo {
    background-color: white;
    padding-top: 61px;
    padding-bottom: 50px;
}

.promo-title {
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;
}

.promo-remark {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 0;
}




/*Стилизация основного контента*/

.advantages-1,
.advantages-3 {
    width: 1200px;
    height: 256px;
    color: #000000;
    background-color: #81b3d2;
    display: flex;
}

.advantages-1-title,
.advantages-3-title {
    font-size: 18px;
    width: 400px;
    color: #ffffff;
    margin: 46px 59px 64px 60px;
    background-color: #81b3d2;
}

.advantages-1-p,
.advantages-2-p,
.advantages-3-p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 26px;
}

.advantages-4-p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 21px;
}

.advantages-2 {
    display: flex;
    justify-content: space-between;
    list-style: none;

    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    width: 1200px;
    height: 330px;
    padding: 0;
    margin: 0;
}

.advantages-4{
    display: flex;
    justify-content: space-between;
    list-style: none;

    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #000000;
    background-color: #eeeeee;
    width: 1200px;
    height: 256px;
    padding: 0;
    margin: 0;
}

.advantages-2 li {
    width: 400px;
    margin: 60px 59px 64px 60px;

}

.advantages-4 li {
    width: 400px;
    margin: 50px 59px 64px 60px;

}

.advantages-2-title {
    margin-top: 32px;
    margin-bottom: 32px;
}

.advantages-4-title {
    margin: 0;
}

.question-for-hotel {
    width: 1200px;
    height: 210px;
    background-color: #ffffff;
    padding-top: 58px;
    padding-bottom: 0px;
}

.question {
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;
}

.question-p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 35px;
}

.look-for-hotel-button {
    height: 89px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.look-for-hotel-button .button {
    padding: 34px 148px;
}





/*Поиск гостиницы в основной странице*/
/*Модальные окна*/

@keyframes bounce {
    0% {transform: translateY(0px)}
    70% {transform: translateY(30px)}
    90% {transform: translateY(-10px)}
    100% {transform: translateY(0px)}
}

@keyframes shake {
    0%, 100% {transform: translateX(0px)}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px)}
    20%, 40%, 60%, 80% {transform: translateX(10px)}
}

.modal-map {
    position: relative;
    background-color: #ffffff;
}

.modal-look-for-hotel {
    display: none;

    position: absolute;
    margin-left: 316px;

    z-index: 3;
}

.modal-show {
    display: block;

    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal-map p {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

    padding: 0;
    margin: 0;
}

.modal-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.look-for-hotel-form {
    width: 568px;
    height: 395px;
    background-color: #ffffff;

    box-shadow: 0 10px 30px 0.5px #aeaeae;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.data {
    box-sizing: border-box;
    width: 568px;
    padding: 50px 60px;
    text-align: left;
}

.data-item {
    display: flex;
    justify-content: space-between;

    margin: 0 0 30px;
}

.data-item label,
.data-item-adults label,
.data-item-children label {
    display: block;
    width: 120px;

    margin-top: auto;
    margin-bottom: auto;
}

.data-item input {
    position: relative;

    width: 328px;
    height: 40px;
    border: none;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

    padding-left: 12px;

    background-color: #f2f2f2;
}

.data-item svg {
    position: absolute;

    margin-top: 10px;
    margin-left: 410px;
}


.data-item-amount {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0;
}

.data-item-amount input {
    width: 104px;
    height: 40px;
    border: none;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

    padding-left: 12px;
    text-align: center;

    background-color: #f2f2f2;
}

.data-item-adults {
    display: flex;
    justify-content: space-between;
    width: 224px;
}

.data-item-children {
    display: flex;
    justify-content: space-between;
    width: 224px;
}

.data-item-children label {
    padding-left: 50px;
}


.button-find-hotel {
    font: inherit;
    width: 458px;
    height: 58px;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #81b3d2;
    border: none;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.button-find-hotel:hover,
.button-find-hotel:focus {
    background-color: #669ec0;
}

.button-find-hotel:active {
    background-color: #5496bd;
}






/*Стили для Footer*/

footer {
    width: 1200px;
    height: 120px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.visitsedona {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.visitsedona a {
    color: #000000;
}

.footer-social {
    width: 150px;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 150px;
    list-style: none;

    align-items: center;
    padding-left: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;

    background-color: #81b3d2;
}


.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    fill: #81b3d2;
}

.logo-htmlacademy svg {
    width: 118px;

}

.logo-htmlacademy svg:hover path,
.logo-htmlacademy svg:focus path{
    fill: #81b3d2;
}

.logo-htmlacademy svg:active path{
    fill: #bdbbbc;
}

.logo-htmlacademy {
    display: block;

    padding: 5px 0 0 20px;

    position: relative;
}

.logo-htmlacademy:before {
    content: "WEBSITE BY";
    position: absolute;

    font-size: 14px;
    color: #000000;

    bottom: 17px;
    left: -60px;
}



/*Стили внутренней страницы для панели поиска Hotels*/

.hotel-sorting {
    width: 1200px;
    height: 217px;

    background-image: url(images/catalog/filter.jpg);
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-box {
    display: flex;
}

.infrastructure {
    width: 312px;
    height: 217px;
    padding: 0 0 0 73px;
    margin: 0;
}

.type-of-housing {
    width: 312px;
    height: 217px;
    padding: 0 0 0 15px;
    margin: 0;
}

.price-box {
    display: flex;
    flex-direction: column;
    margin: 0 73px 0 0;

    width: 320px;
    height: 217px;

    align-items: center;
}

.cost-per-day {
    margin: 0;
    padding: 0;
}

.cost-per-day input {
    width: 157px;
}


.price-result {
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 320px;
    height: 36px;

    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;

    margin: 10px 0;
}

.price-from:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 155px;

    width: 2px;
    height: 23px;

    background-color: #ffffff;
}

.filter legend {
    padding-top: 35px;
}

.filter-button {
    box-sizing: border-box;
    width: 136px;
    height: 36px;
    margin: 15px;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
    color: #000000;
    background-color: #ffffff;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;

    color: #ffffff;
}

.filter ul {
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    padding: 0;

    color: #ffffff;
}

.filter-option {
    padding-left: 40px;
    padding-bottom: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #ffffff;
}

.filter-input:disabled + label {
    color: #ffffff;

    opacity: 0.5;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox +label:before{
    content: "";
    position: absolute;
    top: 0;
    left: -38px;

    width: 23px;
    height: 23px;

    background-image: url("svg/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: -38px;

    width: 27px;
    height: 23px;

    background-image: url("svg/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}







/*Стили для панели сортировки Hotels*/

.sorting-results {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.sorting-results-left {
    display: flex;
}

.found {
    display: block;
    padding: 0 0 0 73px;
    width: 200px;
    text-align: center;
}

.sorting {
    width: 400px;
}

.sorting ul {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.sorting-results a {
    color: #b2b2b2;
    text-decoration: underline dotted;
}

.sorting-results a:hover,
.sorting-results a:focus {
    color: #81b3d2;
    text-decoration: underline dotted;
}

.sorting-results a:active {
    color: #000000;
    text-decoration: none;
}

.sorting-results .visited {
    color: #81b3d2;
    text-decoration: none;
}

.big-small {
    width: 400px;
}

.big-small ul {
    list-style: none;

    display: flex;
    justify-content: flex-end;

    margin-right: 73px;
}

.button-up {
    width: 25px;
    height: 25px;

    border: none;
    background-color: transparent;
}

.button-down {
    width: 25px;
    height: 25px;

    border: none;
    background-color: transparent;
}

.button-up svg path,
.button-down svg path{
    fill: #b2b2b2;
}

.button-up svg path:hover,
.button-up svg path:focus,
.button-down svg path:hover,
.button-down svg path:focus {
    fill: #000000;
}

.button-up svg path:active,
.button-down svg path:active {
    fill: #81b3d2;
}

/*.big-small button[type="button"]:focus + .big-small .button-up svg path {*/
/*    fill: #000000;*/
/*}*/


.button-down .visited path {
    fill: #81b3d2;
}



/*Блок с результатами гостиниц*/

.results {
    margin: -13px 0;
}

.results-block {
    width: 1200px;
    height: 150px;
    display: flex;
    justify-content: space-between;

    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.results-block-left {
    width: 500px;
    height: 150px;
    display: flex;

}

.results-block-left-photo {
    width: 238px;

    align-self: center;
    padding: 0 0 0 73px;
}

.button-block {
    display: flex;
    justify-content: space-between;
}

.button-block button {
    width: 143px;
}

.results-block-left-info {
    width: 259px;
}

.results ul {
    padding-left: 0;
}

.results li {
    list-style: none;
}

.results-block h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    margin-bottom: 10px;
}

.results-block h3:hover,
.results-block h3:focus {
    color: #81b3d2;
}

.results-block h3:active {
    color: #b2b2b2;
}

.summary {
    list-style: none;
    width: 110px;
    height: 24px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    vertical-align: middle;
    padding-top: 3px;
}

.summary:hover,
.summary:focus {
    background-color: #669ec0;
}

.summary:active {
    background-color: #5496bd;
}

.type-and-price {
    display: flex;
    padding-bottom: 15px;
}

.results-type-of-house {
    width: 116px;
}


.results-block-right {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 150px;
    margin-right: 73px;

    align-items: flex-end;
    justify-content: space-evenly;
}

.stars {
    padding-bottom: 10px;
}

.rating {
    box-sizing: border-box;
    width: 112px;
    height: 28px;

    text-align: center;
    padding-top: 3px;

    background-color: #f2f2f2;
}


